<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>unpic.co/lino</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-resource.min.js"></script>
  <script src="js/users/user.module.js"></script>
  <script src="js/lists/list.module.js"></script>
  <script src="js/todos/todos.module.js"></script>
  <script src="js/login/login.module.js"></script>
  <script src="js/main.js"></script>

</head>
<body ng-app="picco" ng-controller="appController as appCtrl">

  <h1>Un piccolino</h1>
  <p>User ID: {{ appCtrl.userID }} 
    <button type="button" ng-if="appCtrl.userID" ng-click="appCtrl.userID = false">LogOut</button>
  </p>

  <login ng-if="!appCtrl.userID" on-login="appCtrl.userHandler(user);"></login>
  <lists ng-if="appCtrl.userID" user-id="appCtrl.userID"></lists>

</body>
</html>
