<article class="view">

    <div class="view-content list__content">
        <ul>
            <li class="list-item"
                ng-repeat='list in listVm.lists' data-index="{{ $index }}" data-itemId="{{ list._id }}">
                <h2><a ui-sref="app.list.single({ id: list._id })">{{ list.name }}</a></h2>
                <p>accessBy {{ list.accessBy }}</p>
                <button class="button button--secondary" 
                    ng-click="listVm.deleteList(list._id, $index)">Remove</button>
           
            </li>

            <li class="list-item">
                <form ng-action="listVm.add(newListName)">
                    <input type="text" placeholder="New list" 
                        ng-model="listName">
                    <button class="button button__add" ng-click="listVm.addList(listName)">Add</button>
                </form>
            </li>
            
        </ul>
    </div>
</article>

<section class="child-view" ui-view></section>