<article class="view">

    <div class="view-content list__content">
        <ul>
            <li ng-repeat='list in list.lists'>
                <h2><a ui-sref="app.list.single({ id: list._id })">{{ list.name }}</a>
                </h2>
                <p>{{ list._id }}</p>2
            </li>

            <li>
                <form ng-action="list.add(newListName)">
                    <input type="text" placeholder="New list" ng-model="newListName">
                    <button class="button button__add">Add</button>
                </form>
            </li>
            
        </ul>
    </div>
</article>

<section class="child-view" ui-view></section>