<article class="view">
    <header class="view__header"><h1>{{ todo.name }}</h1></header>
    <a class="link-view-back" ui-sref="app.list">Back to Lists</a>

    <form ng-submit="todo.add(list.itemInput)"
          class="item__form">
        <input type="text" placeholder="Add an item" ng-model="todo.itemInput"
            class="item__input">
    </form>

    

    {{ todo.todoItems }}
    <ul ng-if="list.items" class="items-list">
        <li ng-repeat="item in todo.items track by $index | orderBy:$index"
            class="items-list__item"
            ng-click="checked = true">
            
            
            <div class="items-list__item__element">
                {{ todo.name }}
            </div>

            <button class="items-list__item__button button__remove"
                ng-click="todo.remove(item)">Remove</button>
        </li>
    </ul>
</article>