<article class="view">
    <a class="link-view-back" ui-sref="app.list">Back to Lists</a>

    <form ng-submit="list.add(list.itemInput)"
          class="item__form">
        <input type="text" placeholder="Add an item" ng-model="list.itemInput"
            class="item__input">
    </form>

    <ul ng-if="list.items" class="items-list">
        <li ng-repeat="item in list.items track by $index | orderBy:$index"
            class="items-list__item"
            ng-init="item.checked = false"
            ng-click="checked = true" ng-class="{checked: item.checked}">
            
            
            <div class="items-list__item__element">
                {{ item.name }}
            </div>

            <button class="items-list__item__button button__remove"
                ng-click="list.remove(item)">Remove</button>
        </li>
    </ul>
</article>