<article class="view">
    <header class="view__header"><h1>{{ todo.name }}</h1></header>
    <section class="view-content">
        
        <ul class="list list--todo">
            <li class="list-item list-item--todo" 
                ng-repeat="todo in todoVm.todos track by $index"
                data-index="{{ $index }}">
                <p>{{ todo.name }}</p>
                <button ng-click="todoVm.remove($index)">Remove</button>

            </li>
        </ul>

        <form ng-submit="todoVm.add(todoVm.newTodo)">
            <input type=text ng-model="todoVm.newTodo.name" placeholder="Add new todo"></input>
        </form>

    </section>
</article>