<article class="view">
	<header class="view__header">Users header</header>
	<div class="view__content">

		<h2>Users</h2>
		<ul>
			<li ng-repeat="user in usersVm.users">
				{{ user }}]

				<p>
					<button ng-click="usersVm.remove(user.id, $index)">Remove</button>
				</p>
			</li>
		</ul>

		<aside>
			<h2>Register</h2>
		  	<form class="form__login" 
		  		ng-submit="usersVm.register(usersVm.user)">
	            
	            <input type="text" placeholder="name" 
	            	ng-model="usersVm.user.name" required>
	            
	            <input type="password" placeholder="password" 
	            	ng-model="usersVm.user.password" required></input> 
	            
	            <input type="email" placeholder="@" 
	            	ng-model="usersVm.user.email" required=""></input>

	            <button type="submit" 
	                ng-click="usersVm.register(user)">Register</button>
        	</form>
		</aside>


	</div>
</article>