


.label__pw {
  letter-spacing: 2px;
}

.form__row {
  position: relative;
  width: 100%;

  input {
    @extend %input !optional;
    padding: 12px 10px 2px;
  }

  label {
    position: absolute;
    top: 8px;
    left: 12px;
  }
}

.form__buttons {
  &__button {
    width: 50%;
  }
}

.form__login {
  padding: 10px;
}