

label {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  opacity: .5;
}

%input {
  line-height: 54px;
  height: 54px;
  font-size: 14px;
  display: block;
  width: 100%;
  margin: 0 0 10px;
  padding: 12px 18px;
  box-sizing: border-box;
  outline: none;
}

input[type=password] {
  letter-spacing: 3px;
  font-size: 1.4em;
}