<article class="view">
    <header class="view__header header">
        <h1>Login</h1>
    </header>

    <section class="view-content">
        <p>login</p>

        <form class="form__login" ng-submit="login.do(user)">
            <input type="text" placeholder="name" ng-model="user.name" required>
            <input type="password" placeholder="password" ng-model="user.password" required></input> 
            <input type="email" placeholder="@" ng-model="user.email"></input>

            <button type="submit">Login</button>
            
            <button type="button" 
                ng-if="user.email"
                ng-click="login.register(user)">Register</button>
        </form>

    </section>

</article>