<article class="view">
    <header class="view__header header">
        <h1>Login</h1>
    </header>

    <div class="view-content">

        <p>Welcome yo!</p>

        <form ng-submit="login(username, password)">
            <input type="text" placeholder="username or email" ng-model="username">
            <input type="password" placeholder="password" ng-model="password">
            <input class="button" type="submit" ng-click="login(username, password)" value="Login"></input>
        </form>

    </div>


</article>