[ui-view] {
  &.ng-enter, &.ng-leave {
    animation-duration: 1s;
  }

  &.ng-enter-active {
    animation: viewIn 1s;
  }

  &.ng-leave-active {
    .view {
      animation: viewOut 1s;
    }
  }
}


@keyframes viewIn {
  from {
  transform: translate(100%,0);
 }
  to {
    transform: translate(0,0);
  }
}

@keyframes viewOut {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(-100%,0);
  }
}